<a href="https://colab.research.google.com/github/NavjyotDataScientist/go_for_small_project_first_then_for_world/blob/main/conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What about Conversion here we go all

- Its all about we have int32 type and we are going to change to another simple
- Here take out all the different ways and think about project (Any) lets say sometime we get the data in wrong type so for that reason we have conversion.
- So why i have decided to bring all the conversion at one place. Just because of while doing a project we often come accross the question mark what to do now here we always know one or two ways to do all the project.

In this conversion file we try to focus only on this file and cover all the possible ways.

In [1]:
import pandas as pd

file_path = '/content/drive/MyDrive/project/heart_failure_clinical_records_dataset.csv'
df = pd.read_csv(file_path)
display(df.head())

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [2]:
df.dtypes

age                         float64
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [3]:
df.astype('int32').dtypes

age                         int32
anaemia                     int32
creatinine_phosphokinase    int32
diabetes                    int32
ejection_fraction           int32
high_blood_pressure         int32
platelets                   int32
serum_creatinine            int32
serum_sodium                int32
sex                         int32
smoking                     int32
time                        int32
DEATH_EVENT                 int32
dtype: object

Observation:

- Lets say we got all the columns now in dtypes so we only need one column so select only one column thats all captain.

-

In [4]:
df.astype({'age': 'float32'}).dtypes

age                         float32
anaemia                       int64
creatinine_phosphokinase      int64
diabetes                      int64
ejection_fraction             int64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                  int64
sex                           int64
smoking                       int64
time                          int64
DEATH_EVENT                   int64
dtype: object

In [5]:
import pandas as pd

df = pd.DataFrame({
    "age": [25, 30, None],
    "salary": [50000, 60000, None],
    "is_employed": [True, False, None]
})

print(df.dtypes)

age            float64
salary         float64
is_employed     object
dtype: object

In [6]:
df2 = df.convert_dtypes()
print(df2.dtypes)

age              Int64
salary           Int64
is_employed    boolean
dtype: object

- if we see the above new dataframe example with how convert works you will easily understands

In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "age": [21, 25, 30],
        "score": [85.5, 90.0, 78.2],
        "name": ["Nav", "Alex", "Sam"]
    },
    dtype="object"   # force object dtype
)

print(df.dtypes)

age      object
score    object
name     object
dtype: object

In [2]:
df2 = df.infer_objects()
print(df2.dtypes)

age        int64
score    float64
name      object
dtype: object

Observation:

Its simply infer_object means hello pandas could you please open my object columns and pleaze make sure convert it ito right things.

In [3]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3]})

df2 = df.copy()      # make a copy
df2["A"] = 100       # change copy

print(df)
print(df2)

   A
0  1
1  2
2  3
     A
0  100
1  100
2  100

observation:

So, its all about copy and see the example twice if we dont understand

In [5]:
import pandas as pd

df = pd.DataFrame([[False]])

print(df.bool())

False

/tmp/ipython-input-759732473.py:5: FutureWarning: DataFrame.bool is now deprecated and will be removed in future version of pandas
  print(df.bool())

In [6]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2],
    "B": [3, 4]
})

arr = df.to_numpy()

print(arr)

[[1 3]
 [2 4]]

Why would you use it?

Many ML libraries (NumPy, scikit-learn) work with arrays

Faster numerical computation

Simpler structure

to_numpy() removes labels and converts a DataFrame into a NumPy array for fast numerical processing.‚Äù