<a href="https://colab.research.google.com/github/NavjyotDataScientist/go_for_small_project_first_then_for_world/blob/main/3_indexing_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30, 40, 50, 60],
    "B": [1, 2, 3, 4, 5, 6]
})

df.head()

    A  B
0  10  1
1  20  2
2  30  3
3  40  4
4  50  5

pandas.DataFrame.at — simple explanation
What is .at?

.at is used to get or set one single value in a DataFrame using row label and column label.

Think: exact location, very fast.

DataFrame.at is the fastest way to access or update a single cell using labels.

In [2]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
})

value = df.at[1, "B"]
print(value)

200

pandas.DataFrame.iat — simple explanation
What is .iat?

.iat is used to get or set one single value using row position and column position (numbers).

Think: index numbers, not labels.

In [3]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
})

value = df.iat[1, 0]
print(value)

20

pandas.DataFrame.loc — simple explanation
What is .loc?

.loc is used to select rows and columns by labels.

Think: names, not numbers.

In [4]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
}, index=["x", "y", "z"])

df.loc["y"]

A     20
B    200
Name: y, dtype: int64

pandas.DataFrame.iloc — simple explanation
What is .iloc?

.iloc is used to select rows and columns by position (numbers).

Think: index positions, starting from 0.

In [5]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
})

df.iloc[1]

A     20
B    200
Name: 1, dtype: int64

pandas.DataFrame.insert() — simple explanation
What does it do?

insert() adds a new column at a specific position in a DataFrame.

Think: insert a column exactly where you want.

In [6]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3],
    "C": [7, 8, 9]
})

df.insert(1, "B", [4, 5, 6])

print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

DataFrame.__iter__() — simple explanation
What does it do?

__iter__() lets you iterate over column names in a DataFrame.

In simple words: when you loop over a DataFrame, you loop over its columns.

In [7]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2],
    "B": [3, 4]
})

for col in df:
    print(col)

A
B

pandas.DataFrame.items() — simple explanation
What does .items() do?

.items() lets you iterate over columns, giving you:

the column name

the column data (Series)

Think: column name + its values

In [8]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2],
    "B": [3, 4]
})

for col_name, col_data in df.items():
    print(col_name)
    print(col_data)

A
0    1
1    2
Name: A, dtype: int64
B
0    3
1    4
Name: B, dtype: int64

pandas.DataFrame.keys() — simple explanation
What does .keys() do?

.keys() returns the column names of a DataFrame.

In short: keys = columns

In [9]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2],
    "B": [3, 4]
})

df.keys()

Index(['A', 'B'], dtype='object')

In [10]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20],
    "B": [100, 200]
})

for index, row in df.iterrows():
    print(index)
    print(row)

0
A     10
B    100
Name: 0, dtype: int64
1
A     20
B    200
Name: 1, dtype: int64

In [11]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20],
    "B": [100, 200]
})

for row in df.itertuples():
    print(row)

Pandas(Index=0, A=10, B=100)
Pandas(Index=1, A=20, B=200)

In [12]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [10, 20, 30]
})

b = df.pop("B")

print(df)
print(b)

   A
0  1
1  2
2  3
0    10
1    20
2    30
Name: B, dtype: int64

In [13]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30, 40, 50, 60],
    "B": [1, 2, 3, 4, 5, 6]
})

df.tail()

    A  B
1  20  2
2  30  3
3  40  4
4  50  5
5  60  6

pandas.DataFrame.xs() — simple explanation
What does .xs() do?

.xs() means cross-section.
It is used to select data from a MultiIndex.

Think: slice data at a specific level

In [14]:
import pandas as pd

arrays = [
    ["India", "India", "USA", "USA"],
    [2023, 2024, 2023, 2024]
]

index = pd.MultiIndex.from_arrays(arrays, names=("Country", "Year"))

df = pd.DataFrame(
    {"GDP": [3.5, 3.7, 25.5, 26.1]},
    index=index
)

print(df)

               GDP
Country Year
India   2023   3.5
        2024   3.7
USA     2023  25.5
        2024  26.1

In [15]:
import pandas as pd

df = pd.DataFrame({
    "A": [1, 2, 3]
})

print(df.get("A"))

0    1
1    2
2    3
Name: A, dtype: int64

In [16]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
})

mask = df.isin([10, 300])
print(mask)

       A      B
0   True  False
1  False  False
2  False   True

pandas.DataFrame.where() — simple explanation
What does .where() do?

.where() keeps values where a condition is True and replaces others with something else (default: NaN).

Think: “keep the good stuff, hide the rest”

In [17]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
})

# Keep values greater than 15
df2 = df.where(df > 15)
print(df2)

      A    B
0   NaN  100
1  20.0  200
2  30.0  300

In [18]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30],
    "B": [100, 200, 300]
})

# Replace values greater than 15 with NaN
df2 = df.mask(df > 15)
print(df2)

      A   B
0  10.0 NaN
1   NaN NaN
2   NaN NaN

pandas.DataFrame.query() — simple explanation
What does .query() do?

.query() lets you filter a DataFrame using a string expression, like a mini SQL for Pandas.

Think: “write the condition as text instead of using brackets”

In [19]:
import pandas as pd

df = pd.DataFrame({
    "A": [10, 20, 30, 40],
    "B": [100, 200, 300, 400]
})

# Select rows where A > 20
df2 = df.query("A > 20")
print(df2)

    A    B
2  30  300
3  40  400

-------Please note: captain is here to learn as well
as we are not perfect
make as per the industry standard and use the steps wisely where you need it.